<!doctype html>
<html lang="en">
	<head>
		<title>Bees</title>

        <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="node_modules/openlayers/dist/ol.css" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="./assets/tooltipster-master/css/tooltipster.css" />
		<link rel="stylesheet" type="text/css" href="./assets/tooltipster-master/css/themes/tooltipster-shadow.css"/>
		<link rel="stylesheet" href="styles.css" type="text/css">

		<script src="node_modules/openlayers/dist/ol.js" type="text/javascript"></script>
		<script src="node_modules/mustache/mustache.min.js" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
		<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/tooltipster-master/js/jquery.tooltipster.min.js"></script>

		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.0/mustache.min.js"></script>-->

		<script id="feedback" type="text/template">
			<div id="feedback-form" class="feedback-box ol-control" style='display:none'>
				<label for="problem">Category of Feedback</label>
				<select id="problem">
					<option value="General">General</option>
					<option value="Data">Map is inaccurate</option>
					<option value="Technical">Technical troubles with website</option>
				</select>
				<label for="select-button">Area of Interest</label>
				<table>
					<tr>
						<td><button type="button" class="wide" id="select-button">Select</button></td>
						<td><button type="button" class="wide" id="clear-select" >Clear</button></td>
					</tr>
				</table>
				<label for="name">Name:</label><input type="text" id="name">
				<label for="email">Email:</label><input type="text" id="email">
				<label for="sugs">Suggestions:</label>
				<textarea rows=9 cols=45 id="sugs"></textarea>
				<table>
					<tr>
						<td><button class="wide" id="form-submit">Send</button></td>
						<td><button class="wide" id="close-submit">Close</button></td>
					</tr>
				</table>
			</div>
		</script>



		<script id="layer-toggle" type="text/template">
			<div class="ol-control" id="{{div-id}}" value={{div-value}}>
				<button class="wide" title="{{b-title}}" id="{{b-id}}" value="{{b-val}}">{{text}}</button>
				<div class="{{idiv-class}}" id="{{idiv-id}}" style="display: none;">
					<input title="{{input-title}}" type="range" class="{{input-class}}" name="{{input-name}}" max="1" value="1" min="0" step="0.005">
				</div>
			</div>
		</script>

		<script id="map-button" type="text/template">
			<div class="ol-unselectable ol-control" id="{{div-id}}">
				<button class="wide" title="{{b-title}}" class="{{b-class}}" id="{{b-id}}" value=1>{{text}}</button>
			</div>
		</script>

		<script id="search-template" type="text/template">
			<div class="ol-infoControl ol-control" id="searchBox">
				<input id="searchInput" title="Enter a location to search for" type="text" placeholder="lat, lon / zipcode / address"></input>
				<button class="wide" id="searchButton" title="Search for a location">Go</button>
			</div>
		</script>

		<script id="map-box" type="text/template">
			<div class="ol-control {{d-class}}" id="{{d-id}}" style="display: none">
				<div id="{{dd-id}}"></div>
			</div>
		</script>

		<script id="popup-box" type="text/template">
			<table class="infoTable">
				<tbody>
					<tr>
						<td>Abundance:</td>
						<td class="right padding-left">{{abundance}}</td>
					</tr>
					<tr>
						<td>Land cover:</td>
						<td class="right padding-left">{{landcover}}</td>
					</tr>
				</tbody>
			</table>
		</script>

		<script id="info-box" type="text/template">
			<div class="ol-control ol-infoControl" id="info">
				<a id="infoClose" title="Close field information box" href="#">X</a>
				<div class="landCoverDiv" id="landCoverDiv">
					<table id="graphs" class="">
					<tbody>
						<tr>
							<th>Land Cover</th>
							<th>Abundance</th>
						</tr>
							<td class="graph" id="250m-land"></td>
							<td class="graph" id="250m-abund"></td>
						</tr>
						<tr>
							<td class="graph" id="1km-land"></td>
							<td class="graph" id="1km-abund"></td>
						</tr>
					</tbody>
					</table>
				</div>
			</div>
		</script>
		
	</head>
	<body>
		<div id="content">
			<div> 
				<div id="controls"></div>
				<div id="map" class="map"></div>
				<div id="popup" class="ol-popup">
					<a href="#" id="popup-closer" class="ol-popup-closer"></a>
					<div id="popup-content"></div>
				</div>
			</div>
		</div>
	</body>
    <script src="/build/BeeMapper.min.js" type="text/javascript"></script>
    <!--<script src="/dist/BeeMapper.js" type="text/javascript"></script>-->
		<script src="https://code.highcharts.com/highcharts.js"></script>
</html>
