body {
    font-family: 'Lato', sans-serif;
}

.wide {
	width: auto !important
}

::-webkit-input-placeholder {
	color: black;
	font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
	color: black;  
	font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: black;  
	font-style: italic;
}

:-ms-input-placeholder {  
	color: black;  
	font-style: italic;
}

.feedback-box {
	background-color: rgba(255,255,255,0.9) !important;
	border: 1px solid rgba(0, 60, 136, 0.5);
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	position: fixed;
	top: 3em;
	left: 1em;
}

.feedback-box select {
	display: block;
}

.feedback-box label {
	display: block
}

.feedback-box button {
	width: initial;
	padding: 3px;
}

.feedback-box table {
	margin-bottom: 3px;
}

th {
	text-align: center;
}

.graph {
	width: 200px;
	height: 200px;
}

.ol-legendControl {
	background-color: rgba(0,0,0,0);
}

img {
	height: 10vh;
	width: auto;
	padding: 5px;
}

#title {
	font-family: "Garamond";
	font-size: 30px;
	color: white;
}

#logo {
	margin-top: 10px;
	font-family: "Garamond";
	margin-left: 20px;
	color: white;
	font-size: 15px;
}

#header {
	overflow: hidden;
	width: 100vw;
	height: 10vh;
	background-color: rgba(0, 43, 92, 1);
}

#right {
	float: right;
}

#left {
	height: 100%;
	float: left;
	margin-left: 20px;
}

.ol-scale-line {
	bottom: 1em;
	right: 3.25em;
	left: auto !important;
	background-color: rgba(0, 60, 136, 0.5);
}

.ol-attribution {
	right: 1em !important;
	bottom: 1em;
}

.legendTable {
	margin: 2px;
}

.legendHeader {
	text-align: center;
	margin-bottom: 3px;
	margin-top: 3px;
}

.selected {
	background-color: rgba(0, 60, 136, 1) !important;
}

body {
}

td {
	padding-top: 2px;
}

.toggle {
	padding: 0.3em !important;
}

#content {
	height: 100%;
	width: 100%;
}

.map {
	width: 100vw;
	height: 100vh;
	margin: auto;
}

#LayerToggleDiv {
	left: 0.5em;
	bottom: 0.5em;
}

#LayerToggleButton {
	left: 0.5em;
	bottom: 0.5em;
	padding: 3px;
}

#satToggle {
	right: 10.5em;
	top: 0.5em;
}

#satToggleButton {
	padding: 3px;
}

#roadToggle {
	right: 6.5em;
	top: 0.5em;
}

#roadToggleButton {
	padding: 3px;
}

#AbundanceToggle {
	left: 12.5em;
	bottom: 0.5em;
}

#LandToggle {
	left: 5.25em;
	bottom: 0.5em;
}

#abundanceToggleButton {
	width: 99%;
	padding: 3px;
}

#landToggleButton {
	width: 99%;
	padding: 3px;
}

.sliderDiv {
	max-width: 93px;
	padding-top: 2px;
}

.layerSlider {
	padding: 5px;
	background-color: rgba(255,255,255,0.3);
}


#layerBox {
	left: 0.5em;
	bottom: 4em;
	min-width: 15em;
}

#layerToggles {
	background-color: rgba(255,255,255,0.8);
	border-radius: 3px;
}

.layerTable {
	width: 90%;
	margin: auto;
}

#landLayerToggle {
	left: 8em;
	bottom: 0.5em;
}

#fieldToggle {
	left: 15.6em;
	bottom: 0.5em;
}

#info, info:hover {
	top: 3em;
	left: 1em;
	overflow: hidden;
	display: None;
}

#infoBox {
	padding: 5px;
}

#infoClose {
	padding: 5px;
}

#legend {
	top: 0.5em;
	right: 1em;
}

#legendBox {
	top: 3em;
	right: 1em;
	display: none;
	background-color: rgba(0,0,0,0);
}

#legendMap {
	background-color: rgba(0,0,0,0);
	padding: 2px;
	width: 160px;
	border-radius: 3px;
}

.legendImage {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 3px;
	border: 1px solid;
	margin-bottom: 3px;
}

#searchBox {
	left: 1em;
	top: 0.5em;
	display: block;
}

#searchInput {
	border: 0.1em solid;
	border-color: rgba(0, 60, 136, 0.2);
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-radius: 0.3em 0 0 0.3em;
	float: left;
	margin: auto;
	height: 25px;
	width: 20em;
}

#searchButton {
	border: 0.1em solid;
	border-color: rgba(0, 60, 136, 0.2);
	border-radius: 0em 0.2em 0.2em 0.0em;
	color: white;
	padding: 1px;
	width: auto;
	margin: auto;
	height: 25px;
	display: inline !important;
}

.ol-zoom {
	right: 1em;
	bottom: 3.5em;
	top: auto !important;
	left: auto !important;
}

#ZoomToExtent {
	right: 1em;
	bottom: 7.5em;
}

#ZoomExtent {
	padding: 4.5px;
}

.colorBox {
	width: 1.75em;
	height: 1em;
	padding-bottom: 1em;
	border-radius: 3px;
	border: 1px solid;
}


.legendTitle {
	padding-left: 5px;
	padding-right: 3px;
	font-style: italic;
	text-decoration: underline;
}

.infoTable {
	width: 100%;
}

.popupTable {
	margin: auto;
}

.dataColumn {
	text-align: right;
}

.landCoverDiv {
	margin: auto;
}

.graphDiv {
	margin: auto;
	width: 90%;
}

.right {
	text-align: right;
}

.padding-left {
	padding-left: 15px;
}

.underline {
	border-bottom: 1px outset black;
}

.ol-attribution {
	right: 1em;
}
.ol-popup {
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
}
.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}
.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}
.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
}
.ol-popup-closer:after {
	content: "x";
}

.ol-control button {
	background-color: rgba(0, 60, 136, 0.65);
}

.ol-control {
	background-color: rgba(255, 255, 255, 0.5);
}

#popup-content {
	width: 15em;
}

/* Fix the bloody sliders in IE http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html */
input[type=range] {
	/*removes default webkit styles*/
	-webkit-appearance: none;

	/*fix for FF unable to apply focus style bug */
	border: 1px solid white;

	/*required for proper track sizing in FF*/
}

input[type=range]::-webkit-slider-runnable-track {
	height: 5px;
	background: #ddd;
	border: none;
	border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: goldenrod;
	margin-top: -4px;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ccc;
}

input[type=range]::-moz-range-track {
	height: 5px;
	background: #ddd;
	border: none;
	border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
	outline: 1px solid white;
	outline-offset: -1px;
}

input[type=range]::-ms-track {
		height: 5px;

	/*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
	background: transparent;

	/*leave room for the larger thumb to overflow with a transparent border */
	border-color: transparent;
	border-width: 6px 0;

	/*remove default tick marks*/
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #777;
	border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
	background: #ddd;
	border-radius: 10px;
}

input[type=range]::-ms-thumb {
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: goldenrod;
}

input[type=range]:focus::-ms-fill-lower {
	background: #888;
}

input[type=range]:focus::-ms-fill-upper {
	background: #ccc;
}
